table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border: 2px solid rgb(1, 1, 1);
    margin-top: 7px;
}

.h{
    color: rgb(17, 2, 230);
    width: 5%;
    font-family:cursive, fantasy;
    font-size: 18px;
}
.d{
    color: rgb(64, 20, 223);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.l{
    color:  rgb(64, 20, 223);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.m{
    color:  rgb(64, 20, 223);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.mi{
    color:  rgb(64, 20, 223);;
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.j{
    color:  rgb(64, 20, 223);;
    width: 14%;  
    
    font-size: 18px;
}
.v{
    color:  rgb(64, 20, 223);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.SA{
    color:  rgb(64, 20, 223);;
    width: 30%; 
    height: 40px;
    font-family:cursive, fantasy;
    font-size: 18px;
}

.t{
    background-color: #28f10d;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    height: 40px;
    font-family:cursive, fantasy;
    font-size: 19px;
}
.c{
    letter-spacing: 3px;
    background-color:  #f7040d;
    color: rgb(0, 0, 0);
    height: 40px;
    font-family:cursive, fantasy;
    font-size: 19px;
}
.li{
    height: 40px;   
}
